* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    /* margin: 0 auto; */
    background-color: black;
}

.nav-offset {
    width: 100%;
    height: 100px;
}

.nav-m-offset {
    scroll-margin-top: 80px;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: rgba(214, 214, 214, 0);
}

#logo img {
    width: 100%;
}

.nav {
    position: relative;
    /* background-color: gray; */
    width: 100%;
    /* height: 100px; */
    max-width: 800px;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 800px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2000;
}

nav a{
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-weight: 600;
    &&:hover {
        color: rgb(26, 26, 26);
        transform: scale(1.05);
    }
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul a {
    padding-left: 20px;
    display: flex;
    align-items: center;
    /* background-color: pink; */
}

.main-container {
    position: absolute;
    background-color: aqua;
    width: 100%;
    max-width: 800px;
    height: 100vh;
    top: 0;
    left: 50;
    background: url(images/honeyComb.svg);
    background-repeat: repeat;
    overflow: scroll;
    scrollbar-width: none;
}

section {
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    /* padding-left: 20px; */
    /* align-items: center; */
    justify-content: start;
    height: 100%;
}

section h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
}

section h2 {
    font-size: 2rem;
    text-align: left;
}

.heading {
    padding-bottom: 50px;
}

.heading p {
    margin-top: 10px;
    font-size: 1.5rem;
    /* color: rgb(34, 34, 34); */
    color: #ff4c4c
}

.white-text {
    color: white
}

.first {
    /* background-image: url(images/chairs.jpg);
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat; */
}

.first::before {
    /* content: "";
    position: absolute;
    background-color: rgba(100, 110, 12, 0.316);
    width: 100%;
    height: 100vh;
    z-index: 2; */
}

.first h1 {
    z-index: 3;
    color: rgb(255, 255, 255);
}

div.video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.first,.third {
    /* background-color: rgba(108, 150, 150, 0.861); */
    background-color: #262626;
}

/************************ Gallery ****************************/
/* Gallery container */
.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    white-space: nowrap;
    width: 100%;
}

/* Gallery item styling */
.gallery-item {
    flex: 0 0 auto;
    margin: 10px;
}

.gallery-item img, .gallery video {
    height: 400px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


/* Arrows */
button.prev, button.next {
    background-color: rgba(255, 255, 255, 0.258); /* Semi-transparent background */
    color: rgba(0, 0, 0, 0.513);
    font-size: 2rem;
    border: none;
    padding: 10px 20px 15px 20px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 100;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button:hover {
    background-color: rgba(222, 220, 220, 0.545);
}

/* Modal styles (same as before) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: auto; /* Enable vertical scroll */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding-top: 150px;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 100%;
    overflow-y: auto;
}

.modal-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.modal-images img {
    width: 100%; /* Full width of the modal */
    max-width: 600px;
    margin-bottom: 40px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}

/*********************** Section 2 *************************/

.second,.fourth {
    background-color: rgba(210, 210, 210, 0.848);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

div.details-list {
    padding: 20px 0;
}

.details-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
    height: 200px;
    color: rgb(161, 161, 161);
}

.details-list li {
    font-size: 1.25rem;
    margin-left: 20px;
    padding-top: 10px;
}

/********************** PHONE *************************/
.phone {
    padding-top: 2rem;
}

.phone a {
    margin-top: 1%;
    padding: 10px 20px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    background-color: #ff4c4c;
    border-radius: 2rem;
    &&:hover {
        background-color: #b63434;
    }
    &&:active {
        background-color: #ff4c4c;
    }
}

/******************* FOOTER **********************/

section.footer {
    padding: 50px 40px;
}

.footer .heading {
    padding: 0;
}

.footer {
    background-color: rgb(15, 15, 15);
}

.creator {
    color: rgb(37, 37, 37);
    text-decoration: none;
    width: fit-content;
    padding: 5px;
    &&:hover {
        color: rgb(46, 46, 46);;
    }
}

/**************** MEDIA QUERIES *******************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .main-container {
        width: 100vw;
    }
    
    section {
        padding: 50px 0;
        justify-content: center;
        align-items: center;
    }

    section h1 {
        font-size: 2rem;
    }

    section h2 {
        font-size: 1.75rem;
        font-weight: 500;
    }

    div.details-list {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: start;
        padding-left: 20px;
    }

    .details-list ul {
        align-items: start;
        flex-wrap: nowrap;
        gap: 10px 20px;
        height: 100%;
    }

    .heading {
        text-align: center;
    }

    .heading p {
        font-size: 1.25rem;
    }

    .gallery-item img, .gallery video {
        height: 300px;
        width: auto;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}